{% extends 'base.html' %}

{% block title %}
    Sudoku Solver
{% endblock %}

{% block navbar_title %}
    Sudoku Solver
{% endblock %}

{% block content %}
    <div class="container text-light mb-5">
        <div class="row align-items-center h-100">
            <div class="col-md-4 mx-auto">
                <div class="row">
                    <div class="col-12"><button type="button" class="mb-3 btn btn-light btn-block upload-btn text-dark">Upload</button></div>
                    <div class="col-12"><button type="button" class="mb-3 btn btn-light btn-block generate-btn text-dark">Generate</button></div>
                    <div class="col-12"><button type="button" class="mb-3 btn btn-light btn-block modify-btn text-dark">Modify</button></div>
                    <div class="col-12"><button type="button" class="my-3 btn btn-light btn-block check-btn text-dark">Check</button></div>
                    <div class="col-12"><button type="button" class="mb-3 btn btn-light btn-block solve-btn text-dark">Solve</button></div>
                </div>
            </div>
            <div class="col-md-1"></div>
            <div class="col-md-7">
                <div class="row align-items-center p-3">
                    <table class="table table-bordered mb-0 p-5 sudoku">
                        <colgroup><col><col><col>
                        <colgroup><col><col><col>
                        <colgroup><col><col><col>
                        <tbody>
                            <tr>
                                <td class="pt-2-half align-middle sudoku-box" contenteditable="true">1</td>
                                <td class="pt-2-half align-middle sudoku-box" contenteditable="true">1</td>
                                <td class="pt-2-half align-middle sudoku-box" contenteditable="true">0</td>
                                <td class="pt-2-half align-middle sudoku-box" contenteditable="true"></td>
                                <td class="pt-2-half align-middle sudoku-box" contenteditable="true"></td>
                                <td class="pt-2-half align-middle sudoku-box" contenteditable="true"></td>
                                <td class="pt-2-half align-middle sudoku-box" contenteditable="true"></td>
                                <td class="pt-2-half align-middle sudoku-box" contenteditable="true">0</td>
                                <td class="pt-2-half align-middle sudoku-box" contenteditable="true">0</td>
                            </tr>
                            <tr>
                                <td class="pt-2-half align-middle sudoku-box" contenteditable="true">1</td>
                                <td class="pt-2-half align-middle sudoku-box" contenteditable="true">1</td>
                                <td class="pt-2-half align-middle sudoku-box" contenteditable="true">0</td>
                                <td class="pt-2-half align-middle sudoku-box" contenteditable="true">0</td>
                                <td class="pt-2-half align-middle sudoku-box" contenteditable="true">0</td>
                                <td class="pt-2-half align-middle sudoku-box" contenteditable="true">1</td>
                                <td class="pt-2-half align-middle sudoku-box" contenteditable="true">0</td>
                                <td class="pt-2-half align-middle sudoku-box" contenteditable="true">0</td>
                                <td class="pt-2-half align-middle sudoku-box" contenteditable="true">0</td>
                            </tr>
                            <tr>
                                <td class="pt-2-half align-middle sudoku-box" contenteditable="true">1</td>
                                <td class="pt-2-half align-middle sudoku-box" contenteditable="true">1</td>
                                <td class="pt-2-half align-middle sudoku-box" contenteditable="true">0</td>
                                <td class="pt-2-half align-middle sudoku-box" contenteditable="true">0</td>
                                <td class="pt-2-half align-middle sudoku-box" contenteditable="true">0</td>
                                <td class="pt-2-half align-middle sudoku-box" contenteditable="true">1</td>
                                <td class="pt-2-half align-middle sudoku-box" contenteditable="true">0</td>
                                <td class="pt-2-half align-middle sudoku-box" contenteditable="true">0</td>
                                <td class="pt-2-half align-middle sudoku-box" contenteditable="true">0</td>
                            </tr>
                        </tbody>
                        <tbody>
                            <tr>
                                <td class="pt-2-half align-middle sudoku-box" contenteditable="true">1</td>
                                <td class="pt-2-half align-middle sudoku-box" contenteditable="true">1</td>
                                <td class="pt-2-half align-middle sudoku-box" contenteditable="true">0</td>
                                <td class="pt-2-half align-middle sudoku-box" contenteditable="true">0</td>
                                <td class="pt-2-half align-middle sudoku-box" contenteditable="true">0</td>
                                <td class="pt-2-half align-middle sudoku-box" contenteditable="true">1</td>
                                <td class="pt-2-half align-middle sudoku-box" contenteditable="true">0</td>
                                <td class="pt-2-half align-middle sudoku-box" contenteditable="true">0</td>
                                <td class="pt-2-half align-middle sudoku-box" contenteditable="true">0</td>
                            </tr>
                            <tr>
                                <td class="pt-2-half align-middle sudoku-box" contenteditable="true">1</td>
                                <td class="pt-2-half align-middle sudoku-box" contenteditable="true">1</td>
                                <td class="pt-2-half align-middle sudoku-box" contenteditable="true">0</td>
                                <td class="pt-2-half align-middle sudoku-box" contenteditable="true">0</td>
                                <td class="pt-2-half align-middle sudoku-box" contenteditable="true">0</td>
                                <td class="pt-2-half align-middle sudoku-box" contenteditable="true">1</td>
                                <td class="pt-2-half align-middle sudoku-box" contenteditable="true">0</td>
                                <td class="pt-2-half align-middle sudoku-box" contenteditable="true">0</td>
                                <td class="pt-2-half align-middle sudoku-box" contenteditable="true">0</td>
                            </tr>
                            <tr>
                                <td class="pt-2-half align-middle sudoku-box" contenteditable="true">1</td>
                                <td class="pt-2-half align-middle sudoku-box" contenteditable="true">1</td>
                                <td class="pt-2-half align-middle sudoku-box" contenteditable="true">0</td>
                                <td class="pt-2-half align-middle sudoku-box" contenteditable="true">0</td>
                                <td class="pt-2-half align-middle sudoku-box" contenteditable="true">0</td>
                                <td class="pt-2-half align-middle sudoku-box" contenteditable="true">1</td>
                                <td class="pt-2-half align-middle sudoku-box" contenteditable="true">0</td>
                                <td class="pt-2-half align-middle sudoku-box" contenteditable="true">0</td>
                                <td class="pt-2-half align-middle sudoku-box" contenteditable="true">0</td>
                            </tr>
                        </tbody>
                        <tbody>
                            <tr>
                                <td class="pt-2-half align-middle sudoku-box" contenteditable="true">1</td>
                                <td class="pt-2-half align-middle sudoku-box" contenteditable="true">1</td>
                                <td class="pt-2-half align-middle sudoku-box" contenteditable="true">0</td>
                                <td class="pt-2-half align-middle sudoku-box" contenteditable="true">0</td>
                                <td class="pt-2-half align-middle sudoku-box" contenteditable="true">0</td>
                                <td class="pt-2-half align-middle sudoku-box" contenteditable="true">1</td>
                                <td class="pt-2-half align-middle sudoku-box" contenteditable="true">0</td>
                                <td class="pt-2-half align-middle sudoku-box" contenteditable="true">0</td>
                                <td class="pt-2-half align-middle sudoku-box" contenteditable="true">0</td>
                            </tr>
                            <tr>
                                <td class="pt-2-half align-middle sudoku-box" contenteditable="true">1</td>
                                <td class="pt-2-half align-middle sudoku-box" contenteditable="true">1</td>
                                <td class="pt-2-half align-middle sudoku-box" contenteditable="true">0</td>
                                <td class="pt-2-half align-middle sudoku-box" contenteditable="true">0</td>
                                <td class="pt-2-half align-middle sudoku-box" contenteditable="true">0</td>
                                <td class="pt-2-half align-middle sudoku-box" contenteditable="true">1</td>
                                <td class="pt-2-half align-middle sudoku-box" contenteditable="true">0</td>
                                <td class="pt-2-half align-middle sudoku-box" contenteditable="true">0</td>
                                <td class="pt-2-half align-middle sudoku-box" contenteditable="true">0</td>
                            </tr>
                            <tr>
                                <td class="pt-2-half align-middle sudoku-box" contenteditable="true">1</td>
                                <td class="pt-2-half align-middle sudoku-box" contenteditable="true">1</td>
                                <td class="pt-2-half align-middle sudoku-box" contenteditable="true">0</td>
                                <td class="pt-2-half align-middle sudoku-box" contenteditable="true">0</td>
                                <td class="pt-2-half align-middle sudoku-box" contenteditable="true">0</td>
                                <td class="pt-2-half align-middle sudoku-box" contenteditable="true">1</td>
                                <td class="pt-2-half align-middle sudoku-box" contenteditable="true">0</td>
                                <td class="pt-2-half align-middle sudoku-box" contenteditable="true">0</td>
                                <td class="pt-2-half align-middle sudoku-box" contenteditable="true">0</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block script %}
    <script src="{{url_for('static', filename='custom.js')}}"></script>
{% endblock %}